:root {
    --color-turquoise: #00DBCF;
    --color-white: white;
    --color-dark-blue: #010B13;
    --color-bright-gray: #D6D6D6;
    --color-gray: #CCCCCC;
    --font-arimo: 'Arimo', sans-serif;
    --font-baloo: 'Baloo Tammudu 2', cursive;
    --font-barlow: 'Barlow Condensed', sans-serif;
    --font-racing: 'Racing Sans One', cursive;
}
html {
    scroll-behavior: smooth;
}
.navigation {
    display: flex;
    flex-flow: row wrap;
    list-style: none;
    margin: 0;
    margin-top: 0;
    background: var(--color-dark-blue);
    justify-content: flex-end;
}
.navigation a {
    display: block;
}
.linkprincipal {
    justify-self: flex-start;
    margin-right: auto;
    font-family: var(--font-racing);
    color: var(--color-turquoise);
    font-style: normal;
    font-size: 30px;
}
.linkscap {
    font-family: var(--font-arimo);
    font-size: 30px;
    color: var(--color-white);
    font-style: normal;
}
.navigation a:hover {
    color: var(--color-turquoise);
}
.linkprincipal a:hover {
    color: var(--color-white);
}
.container {
    padding: 0;
    position: absolute;
    top: 0px;
    left:0px;
    background: var(--color-bright-gray);
}
.fonscap {
    position: relative;
    background-image: url('./images/fondoCabecera.jpg');
    background-size: 100% 100%;
    background-position: center;
    background-repeat: no-repeat;
    height: 700px;
    width: 100%;
    font-family: var(--font-arimo);
    color: var(--color-white);
}
a {
    text-decoration: none;
}
h2 {
    font-family: var(--font-barlow);
    font-style: normal;
    font-size: 62px;
    text-align: center;
    margin-block-start: 0.5em;
    margin-block-end: 0.5em;
}
h2.blue, b {
    color: var(--color-turquoise);
}
h3 {
    font-family: var(--font-barlow);
    font-style: normal;
    font-size: 48px;
    margin-block-start: 0;
    margin-block-end: 0;
}
p, label{
    font-family: var(--font-arimo);
    font-size: 25px;
}
div {
    overflow: hidden;
}
.textcap {
    float: right;
    margin-right: 17%;
    margin-top: 18%;
    margin-left: 83%;
    margin-bottom: auto;
    text-align: center;
}
.flexcontainer {
    display: flex;
    background: var(--color-bright-gray);
    align-content: center;
    padding-right:5%;
    padding-left:5%;
    padding-bottom: 5%;
    column-gap: 100px;
}
.flexcontainerfill {
    justify-content:center;
    width: 50%;
    line-height: 50px;
}
.flexcontainerfill p, li{
    font-family: var(--font-arimo);
    font-size: 25px;
    text-align: justify;
}
.projecte {
    background-color: var(--color-dark-blue);
    color: var(--color-white);
    padding-right: 5%;
    padding-left: 5%;
    text-align: justify;
    padding-bottom: 75px;
}
.contacte {
    background: var(--color-bright-gray);
    display: flex;
    justify-content: center;
    align-content: center;
    align-items: center;
    column-gap: 25px;
    padding-bottom: 15px;
}
.contfill {
    position: relative;
    background: var(--color-gray);
    width: auto;
    padding: 40px;
    height: 250px;
    justify-content: center;
    text-align: center;
}
.contfill img {
    left:50%;
}
span.programador {
    font-size: 72px;
}
label {
    padding: 0;
    margin: 0;
}
.subject, .content {
    width: 80%;
    margin: 0 auto;
}
.footer {
    background-image: url('./images/fondoFooter.jpg');
    background-size: 100%;
    font-family: var(--font-arimo);
    color: var(--color-turquoise);
    flex-shrink: 0;
    padding: 20px;
}
.footer p {
    text-align: center;
    font-size: 20px;
}
.contact-section {
    padding: 30px 0 25px 0;
    text-align: center;
}    
.contact-section h3 {
    margin: 0;
    padding: 0;
    font-size: 35px;
    margin-bottom: 20px;
    text-transform: uppercase;
}
.contact-section form {
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        margin: 0 auto;
        max-width: 880px;
        height: 450px;
        background: var(--color-gray);
        text-align: left;
        padding: 10px 0;
}
.contact-section.subject, .contact-section.content {
    width: 80%;
    margin: 0 auto;
}
.id {
    width: 80%;
    margin: 0 auto;
}
label {
    display: block;
    padding: 0;
    margin: 0;
    font-family: var(--font-arimo);
}
input[name="email"]{
    width: 400px;
    height: 40px;
}
input[name="name"] {
    width: 250px;
    height: 40px;
}
.subject {
    height: 62px;
}
.subject input[name="subject"] {
    width: 100%;
    height: 40px;
}
.content textarea {
    width: 100%;
    resize: none;
    font-family: var(--font-arimo);
}
.content button {
    background: var(--color-turquoise);
    border: 1px solid var(--color-turquoise);
    box-shadow: 0 0 5px rgba(0, 0, 0, .4);
    font-family: var(--font-racing);
    padding: 8px 77px;
}
.content button:hover {
    background: #08b8af;
    border: 1px solid rgba(0, 0, 0, .7);
}


/*Estil per escritori*/
@media only screen and (min-width: 768px) {
    .navigation a {
        padding: 1em;
    }
    .icon[menu="burger"] {
        display: none;
    }
    @keyframes button-return-up { 
        from{transform: translateY(-0px);}
        to{transform: translateY(-10px);}  
      }
    .button-up {
        position: fixed;
        right: 4%;
        bottom: 5%;
        border-radius: 25%;
        background: rgb(131, 131, 131);
        opacity: 70%;
        padding: 10px 10px;
        cursor: pointer;
    }
    .button-up i {
        opacity: 85%;
        color: var(--color-white);
        padding-bottom: 5px;
    }
    .button-up:hover {
        animation-name: button-return-up;
        animation-duration: 0.2s;
        animation-timing-function: ease;
        animation-delay: 0;
        animation-iteration-count: infinite;
        animation-direction: alternate;
        animation-fill-mode: both;
        animation-play-state: running;
    }
    .content button {
        margin-right: 0;
        float: right;
    }
    .id {
        display: flex;
        justify-content: space-between;
        height: 80px;
    }
    .id.name, .id.email{
        display: inline-block;
        width: 100%;
    }
}

/*Estil per movil*/
@media only screen and (max-width: 768px) {
    .icon {
        display: block;
        width: 50px;
        height: 50px;
        color:var(--color-white);
    }
    #myLinks {
        display: none;
    }
    .navigation {
        padding: 25px 10px; 
    }
    a.linkscap {
        padding: 25px 25px 25px 25px;
    }
    .navigation a.icon {
        display: block;
        position: absolute;
    }
    [menu="item"] a:hover {
        background-color: var(--color-bright-gray);
        color: black;
    }
    .flexcontainer {
        flex-direction: column;
        align-content: center;
        padding-top: 0px;
    }
    .flexcontainerfill {
        justify-content:center;
        width: 100%;
        line-height: 50px;
        padding-top: 0px;
    }
    .contactefill p{
        margin-top: 0px;
    }
    .projecte p, .flexcontainer p, .flexcontainer li {
        font-size: 45px;
    }
    .flexcontainer h3, .contact-section h3 {
        font-size: 55px;
    }
    .button-up {
        display: none;
    }
    .contacte {
        flex-direction: column;
        row-gap: 25px;
    }
    .contfill {
        width: 70%;
    }
    .contfill label {
        padding-top: 15px;
        font-size: 40px;
    }
    .content button {
        font-size: 40px;
        margin-left: 22%;
    }
    .contact-section form {
        height: auto;
    }
    .subject {
        height: auto;
    }
    #name, #email, #subject{
        width: 100%;
        font-size: 25px;
    }
    label {
        font-size: 35px;
    }
    .content textarea {
        font-size: 25px;
    };
}